.choose {
    height: 200px;
    width: 300px;
    border: 2px ;
    border-radius: 20px;
    background-color: darkturquoise;
    float: left;
    margin-left: 100px;
    
}
.birthday {
    height: 200px;
    width: 300px;
    border: 2px ;
    border-radius: 20px;
    background-color: darkturquoise;
    float: left;
    margin-left: 100px;
}
.details {
    margin-left: 110px;
}