.choose {
    height: 200px;
    width: 300px;
    border: 2px solid palevioletred;
    border-radius: 20px;
    background-color: palevioletred;
    float: left;
    margin-left: 100px;
    
}
.birthday {
    height: 200px;
    width: 300px;
    border: 2px solid palevioletred;
    border-radius: 20px;
    background-color: palevioletred;
    float: left;
    margin-left: 100px;
}