.choose {
    height: 160px;
    width: 300px;
    border: 2px ;
    border-radius: 10px;
    background-color: darkturquoise;
    float: left;
    margin-left: 100px;
    
}
.birthday {
    height: 160px;
    width: 300px;
    border: 2px ;
    border-radius: 10px;
    background-color: darkturquoise;
    float: left;
    margin-left: 200px;
}
.details {
    margin-left: 110px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px darkturquoise;
}